body {
  background-color: lightgrey;
  font-family: 'Montserrat', sans-serif;
}

/*NAVBAR*/
.navbar ul {
  background-color: grey;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 200ms;
}

.navbar ul li a:hover {
  background-color: darkcyan;
}

/*BODY*/
.tekstblok1 {
  padding: 10px;
  display: block;
  width: 40%;
  float: left;
}

.tekstblok2 {
  padding: 10px;
  display: block;
  width: 50%;
  float: right;
}

#afb1 {
  height: 240px;
  padding: 10px;
}
