@import "https://www.leafal.io/assets/css/reset.css";

body {
  background-color: cornsilk;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

/*NAVBAR*/
/*
.strookje {
  width: 100%;
  padding: 60px;
  margin-bottom: 20px;
  background-color: black;
  font-size: 18px;
}*/

.logobalk {
  font-size: 24px;
  padding: 30px;
  text-align: right;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 74px;
}

.content {
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

#navbar {
  z-index: 2;
}

#navbar ul {
  background-color: maroon;
  list-style-type: none;
  overflow: hidden;
  margin: 0 0 20px 0;
  width: 100%;
}

#navbar li {
  float: left;
}

#navbar ul li a {
  font-size: 18px;
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  transition-duration: 200ms;
}

#navbar ul li a:hover {
  background-color: brown;
}

/*BODY INDEX*/
.tekstblok1 {
  margin-top: 25px;
  display: block;
  width: 60%;
  float: left;
  padding-left: 20px;
  padding-right: 10%;
}

.tekstblok2 {
  margin-top: 25px;
  display: block;
  width: 33.3%;
  float: left;
  padding: 10px;
  background-color: #fc9;
}

.footer {
  width: 100%;
  background-color: brown;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
}

#afb1 {
  width: 33.3%;
  padding: 10px;
  float: left;
  background-color: #fc9;
}

#afb2 {
  width: 33.3%;
  padding: 10px;
  float: left;
  background-color: #fc9;
}

#afb3 {
  width: 33.3%;
  padding: 10px;
  float: left;
  background-color: #fc9;
}

#afb4 {
  width: 100%;
  margin-top: 10px;
}

@media screen and (max-width:750px) {
  #afb1, #afb2, #afb3, .tekstblok1, .tekstblok2 {
    width:100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width:500px) and (min-width:0px){
  #afb1, #afb2, #afb3, .tekstblok1, .tekstblok2 {
    width:100%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/*BODY SEARCH*/
/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  float: left;
  padding-left: 20px;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  padding: 6px;
  border: none;
  font-size: 17px;
}
