body {
  background-color: lightgrey;
  font-family: 'Montserrat', sans-serif;
}

/*NAVBAR*/
.navbar ul {
  background-color: grey;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 200ms;
}

.navbar ul li a:hover {
  background-color: darkcyan;
}

/*BODY*/

#afb1 {
  height: 234px;
  padding: 10px;


}
